:root {
    --primary-color: rgb(117, 79, 3);
    --neutral-800: rgb(30, 33, 40);
    --border-radius:25px;
    --test-border: 2px solid blue;
    --test-border-2: 2px solid red;
    --test-border-3: 2px solid yellow;
    --font-size: 24px


}









/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.message {
    font-size: calc(var(--font-size) + .2vh);
    color: black;
    text-align: center;
    position: relative;
}

.success {
    background-color: rgba(6, 163, 6, 0.818);
}

.error {
    background-color: rgb(255, 0, 0);
}

.warning {
    background-color: rgb(231, 231, 18);
}

a[class="name"] {
    font-weight: bold;
    margin-left: 5px;
    font-size: min(28px,calc(var(--font-size) + 1.5vh)) !important;
           
}




nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6vw;
    margin: 10px 0;
}
.name {
    justify-self: flex-start;
    font-size: var(--font-size);
    font-family: "Epilogue",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.nav-list {
    display: flex;
    gap: 2vw;
    font-size: var(--font-size);
    align-items: flex-end;

}


.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.join-button {
    font-weight: 100;
    min-height: 40px;
    width: 130px;
    margin-left:auto;
    margin-right: 5px;
    min-width: 10vw;
    color: white;
    font-size: var(--font-size);
    background-color: var(--primary-color);
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}
.join-button:hover {
    transform: scale(1.05);
   
}

footer {
    background: var(--neutral-800);
    min-width: 100%;
    height: 350px;
    max-height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
    padding: 10px;

}

#call-to-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: min(10%,40px);
}

#footer-name {
    color: white;
    position: absolute;
    left: 12%;
    bottom: 20%;
}

#copyright {
    color: rgba(255, 255, 255, 0.762);
    font-size: 15px;
}
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* --------------------------------Home.html-------------------------------------- */
@keyframes come-alive {
    from {
        opacity: 0;
       
    }
    to {
        opacity: 1;
     
    }
}

.subject-card.animate__animated:first-child {
    animation-timeline: scroll();
    animation-name: slideInLeft,come-alive;
    animation-duration: 3s;

}

.subject-card.animate__animated:nth-child(2) {
    animation-timeline: scroll();
    animation-name: slideInUp,come-alive;
    animation-duration: 3s;

}

.subject-card.animate__animated:last-child {
    animation-timeline: scroll();
    animation-name: slideInRight,come-alive;
    

}


section {
    position: relative;
    height: 60vh;
    
    
}





#hero {
    
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2.5px);

    overflow:hidden;
    z-index: -1; 
    
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit:cover;

    background-color: #010200;
 

    
}

.hero-container {
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  
}



#sharing-notes {
    position: relative;
    color: white;
    z-index: 1;
    text-align: center;
    margin: auto;
    font-size: calc(var(--font-size) + 4vh);
    
}



#subjects {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    height: 90vh;
}

#subjects-header {
    font-size: calc(var(--font-size) + 3vh);
    color: var(--neutral-800);
    text-align: center;
    margin: 5px;
}

#all-subjects {
    background: var(--neutral-800);
    font-size: max(calc(var(--font-size) - 1vh),10px);
    margin-left: auto;
    margin-right: 2vw;  
    max-width: 10%; 
    max-height: 10%;
   
}

#subjects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    margin-top: 5px;
    gap: 3vw;
    padding: 5px;
    margin-bottom: 10px;
    
}

.subject-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    min-width: 150px;
    border-radius: 25px;
    position: relative;
    padding: 8px;
    background: rgb(247, 247, 247,.8);
   
}
#subject-img {
    width: 100%;
    border-radius: 8px;
    height: 65%;
    margin-bottom: 3%;
    object-fit: cover;
    border: none;

}

.subject-text {
    align-self: flex-start;
    margin-left: 8.5px;
    font-size: max(calc(var(--font-size) - 1.4vh),20px);


}

.notes-count {
    color: rgba(0,0,0,0.6);
    font-size: max(calc(var(--font-size) - 1.8vh),14px);

    
}


/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* --------------------------------sign-up.html-------------------------------------- */

#sign-up {
    position: relative;
    min-height: 100%;
    height: 100vh;
    background: var(--neutral-800);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    overflow: hidden;
}


#sign-up::before,
#sign-up::after {
    content: "";
    position: absolute;
    z-index: 1;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 25%, transparent 75%);
    width: 200px;
    height: 200px;
    pointer-events: none;
    mix-blend-mode: screen;
    overflow: hidden;
}

#sign-up::before {
    bottom: -100px;
    left: -100px;
}

#sign-up::after {
    top: -100px;
    right: -100px;
}


#sign-up-heading {
    min-width: 460px;
    width: 40%;
    margin-bottom: 5px;
    color: rgb(168, 173, 183);
    font-size: min(calc(var(--font-size) + 2vh),50px);
}

#sign-up-form {
    min-width: 460px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: min(3vh,26px);
    overflow-x: hidden;

}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-input {
    background-color: rgb(86, 93, 109);
    border: none;
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.form-label {
    color: rgb(168, 173, 183);
    display: block;
  
    
}

.form-submit {
    width: 100%;
    font-size: calc(var(--font-size) -0.6vh);
}


.form-text {
    align-self: center;
    color: rgba(103, 74, 16, 0.9);
    font-size: var(--font-size);
}



#login {
    color:rgb(145, 100, 11);
}



/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* --------------------------------view-all.html-------------------------------------- */

#view-all {
    height: 170vh;
    min-width: 100%;
    background: var(--neutral-800);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#all-subjects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    height: 100%;

}

.vertical-subject-card {
    
    width: 300px;
    height: 500px;
    border-radius: 8px;
    background-size: cover;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 1px 8px 10px rgba(0, 0, 20, 0.756);
    transition: all 0.3s ease;
    
}   
.vertical-subject-card:hover {
    transform: scale(1.1);
    box-shadow: 1px 12px 14px rgba(0, 0, 20, 0.756);
    
}

.vertical-subject-card::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(to bottom, transparent,rgba(0, 0, 20, 0.9));
    backdrop-filter: blur(1.2px);

}
.vertical-subject-card-text {
    color: rgb(169, 115, 8);
    font-size: clamp(40px,2vh,calc(var(--font-size) + 2vh));
    font-family: "Epilogue",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 6;
    margin-bottom: 1vh;
}

.vertical-subject-card span {
    font-size: clamp(20px,.8vh,calc(var(--font-size) + .8vh));

    color: rgba(169, 115, 8, 0.605);
    


}



/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* --------------------------------view-subject.html-------------------------------------- */


#view-subject-hero {
    width: 100%;
    height: 80vh;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(90%);
    z-index: -2;

    
}


#view-subject-hero::after {
    content:"";
    width: 100%;
    height: 65%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, transparent,rgba(0, 0, 20, 0.92));
    bottom: 0;
    left: 0;
    backdrop-filter:blur(.8);
    backdrop-filter:opacity(.8);
}

#view-subject-content {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10%;

}


details {
    transition: max-height 0.5s ease, padding 0.4s ease;
}

details[open] {
    max-height: 3000px; /* Large enough to accommodate content */
    padding: 8px 0; /* Add padding when opened for smoother effect */
}

details:not([open]) {
    max-height: 2000px;
    padding: 0; /* Reduce padding when closed */
}


.chapter-container {
    display: inline-block;
    background: rgba(222, 225, 229,1);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 90%;
    
    
}

.lesson {
    position: relative;
    display: block;
    margin: 0 5% 8px;
    width: 80%;
    border: 1px solid rgba(222, 225, 229,.9);
    padding: 8px;
    font-size: clamp(.5vh,18px,var(--font-size));
    animation-name: slideInLeft,come-alive;
    animation-delay: 850ms;
}

.lesson::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0px;
    background: linear-gradient(to right, var(--primary-color),transparent);
    transition: width 0.3s ease;
    transform-origin: 0%;
}

.lesson:hover::after {
    height: 2px;
    width: 100%;
}
.lesson:nth-child(2) {
    animation-name: slideInRight,come-alive;
}


/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------- */
/* --------------------------------view-note.html-------------------------------------- */



#view-note {
    border: var(--test-border);
    padding: 16px;
}



#note {
    font-size: calc(var(--font-size) - 4px);
}





















































@media screen and (max-width:724px) {
    :root {
        --font-size: 15px
    }

    #copyright {
      
        font-size: 13px;
    }
    
}


@media screen and (max-width:600px) {
    *:not(:has(li)) {
        max-width: 100%;
        
    }
    section {
        overflow-x: hidden !important;
    }
    #view-all {
        height: auto
        ;
    }

    #all-subjects-container {
        height: 90%;
    }
    body {
        overflow-x: hidden;
    }

    ul li:last-child{
        display: none;
    }
    
    ul li:nth-last-child(2){
        display: none;
    }
  
    #copyright {
      
        font-size: 8px;
    }
    
    #subjects {
        height: 100vh;
        min-height: 1200px;
    }
    
    #subjects-container {
        flex-direction: column;
        flex-grow: 1;
        height: 90%;
        min-height: 390px;

    }
    .subject-card {
        width: 100%;
        height: 30%;
    }
   

    #sign-up {
        min-width: 100%;
    }
    #sign-up-heading {
        margin-right: auto;
        margin-left: 8vw;
    }
  
    .form-group {
        min-width: 80vw;
        margin-right: auto;
        margin-left: 55px;
    }
    .form-group:first-child {
        min-width: 80vw;
        margin-right: auto;
        margin-left: 55px;
        margin-top: 2vh;
    }
}