{% extends "layout.html" %}
{% block content %}
    <section id="hero">
        <div class="background">
            <picture>
                <source media="(max-width:600px)" srcset="/static/book-m.webp">
                <source media="(min-width:601px)" srcset="/static/book.webp">
                <img aria-hidden="true" decoding="async" src="/static/book.webp" alt="image of a book" id="hero-img">
            </picture>
            
        </div>
        <div class="hero-container">
            <h1 class="name" id="sharing-notes">Sharing Notes</h1>
            
            {% if session['user_id'] %}

            {% else %}
            <a href="/sign-up" class="join-button" style="margin: 0;">Sign Up</a>
            {% endif %}
        </div>
        
    </section>
    <section id="subjects">
        <!-- TODO: #1 Linkify All of this to their respective subject. -->

        <h1 id="subjects-header" class="name">Subjects</h1>
        <p style="text-align: center; color:rgba(30,33,40,0.8)">Explore our most Popular subjects
            <a href="/viewall" class="join-button" id="all-subjects" >View All</a>
        </p>
        <div id="subjects-container">
            
            {% for subject in subjects %}
                <div class="subject-card animate__animated" style="opacity: 0;">
                <a href="/subject/{{ subject['name'] }}" style="width: 100%; height:100%">

                    <img decoding="async" loading="lazy" src="/static/homepage_images/{{ subject['name'] | lower }}.webp" alt="image of the subject" id="subject-img">
                    <p class="subject-text"> {{ subject['name'] }}</p>
                    <p class="subject-text notes-count"> {{ subject['notes_count'] }} Notes </p>
                </a>
                </div>

            {% endfor %}
            
            
            
            
            
            
    
        </div>
    </section>
 <script>
    window.addEventListener("scroll", function() {
    const container = document.querySelector("#subjects-container")
    const containerPosition = container.getBoundingClientRect().top
    const windowHeight = window.innerHeight
    
    if (containerPosition < windowHeight) {
        document.querySelectorAll(".subject-card").forEach(card => {
          
            
            card.style.animationName = "slideInLeft,come-alive";
            card.style.opacity = 1
            document.querySelectorAll(".subject-card:nth-child(2)").forEach(card => {
                card.style.animationName = "slideInUp"
            })

            document.querySelectorAll(".subject-card:nth-child(3)").forEach(card => {
                card.style.animationName = "slideInRight"
            })
        })
    }
    })
    
 </script>
{% endblock %}
