{% extends "layout.html" %}
{% block content %}
    <section id="hero">
        <div class="background">
            <img src="/static/book.png" alt="" id="hero-img">
        </div>
        <div class="hero-container">
            <h1 class="name" id="sharing-notes">Sharing Notes</h1>
            
            {% if session['user_id'] %}

            {% else %}
            <a href="/sign-up" class="join-button" style="margin: 0;">Sign Up</a>
            {% endif %}
        </div>
        
    </section>
    <section id="subjects">
        <!-- TODO: #1 Linkify All of this to their respective subject. -->

        <h1 id="subjects-header" class="name">Subjects</h1>
        <p style="text-align: center; color:rgba(30,33,40,0.8)">Explore our most Popular subjects
            <a href="/viewall" class="join-button" id="all-subjects" >View All</a>
        </p>
        <div id="subjects-container">
            <div class="subject-card animate__animated">
                <img src="/static/math.webp" id="subject-img" alt="math">
                <p class="subject-text">Math</p>
                <p class="subject-text notes-count">8 Notes</p>
            </div>
            <div class="subject-card animate__animated">
                <img id="subject-img" src="/static/physics.webp">
                <p class="subject-text">Physics</p>
                <p  class="subject-text notes-count">10 Notes</p>
            </div>
            <div class="subject-card animate__animated"> 
                <img src="/static/biology.webp" id="subject-img">
                <p class="subject-text">Biology</p>
                <p class="subject-text notes-count"> 5 Notes</p>
            </div>
        </div>
    </section>
 
{% endblock %}
