{% extends "layout.html" %}

{% block content %}
{% set image_path = subject['image_2'] if subject['image_2'] else subject['image'] %}


<section id="view-subject-hero" style="background-image: url('{{ image_path }}');">
    
    <h1 class="name" id="sharing-notes" style="margin:0; z-index:3;">{{ subject['name'] }}</h1>
    <h2 style="color: rgba(255, 255, 255, 0.907); z-index:3;">{{ subject['notes_count' ]}} Notes</h2>
    <a href="/note/{{ subject['name'] }}/random/random" class="join-button" style="text-align:center; z-index: 3; border:0.2px solid black; position:relative;max-width:150px;display:inline;margin:0; font-size:var(--font-size);padding:5px; margin-top:4px " > Surprise Me! </a>

</section>

<section id="view-subject-content">
    <h1 class="name" style="font-size:calc(var(--font-size) + 8px);">{{ subject['name'] }}</h1>
    {% for chapter in subject['notes'] %}
    <details style="width: 100%;" open>
            {% for lesson in chapter['lessons'] %}
                <a  href="/note/{{ subject['name'] }}/{{ chapter['chapter_name'] }}/{{ lesson['lesson_name'] }}" class="lesson animate__animated">{{ lesson['lesson_name'] }} <span style="position:absolute; right:10px;color:rgba(0,0,0,.7);">{{ lesson['date'] }}</span></a>
            {% endfor %}
            
        <summary style="width: 100%;">
        <div class="chapter-container">
            {{ chapter['chapter_name'] }}
        </div>

        </summary>
    </details>
    {% endfor %}
    <a href="/note/{{ subject['name'] }}/random/random" class="join-button" style="z-index: 999999999; border:2px solid black; position:relative;max-width:150px;display:inline;margin:0; " >Surprise Me!</a>


</section>


<script>
    window.addEventListener('scroll', function() {
        const header = document.querySelector('details:last-of-type');
        const boxPosition = header.getBoundingClientRect().top; // Get the position of the box relative to the viewport
        const windowHeight = window.innerHeight; // Get the height of the viewport
        // Check if the top of the box is less than the viewport height
        if (boxPosition < windowHeight) {
            document.querySelectorAll(".lesson").forEach(lesson => {
              
                lesson.style.animationName = "slideInLeft,come-alive"
                lesson.style.opacity = 1
                document.querySelectorAll(".lesson:nth-child(2)").forEach(lesson => {
              
                    lesson.style.animationName = "slideInRight"
                    
                    
                })
                
            })
        }
    });
    
</script>





{% endblock %}