{% extends "layout.html" %}



{% block content %}

<section id="view-all">
    <h1 class="name" id="sharing-notes" style="align-self: flex-start;">All Subjects</h1>
   
        <div id="all-subjects-container">
            <div class="grid-subject-card subject-card" style="animation-timeline: scroll();">
                <a style="width:100%; height:100;" href="youtube.com">
                <img src="/static/math.webp" id="subject-img" alt="math"    >
                <p class="subject-text">Math</p>
                <p class="subject-text notes-count">8 Notes</p>
                </a>
            </div>
            <div class="grid-subject-card subject-card" style="animation-timeline: scroll();">
                <a style="width:100%;" href="youtube.com">

                <img id="subject-img" src="/static/physics.webp">
                <p class="subject-text">Physics</p>
                <p  class="subject-text notes-count">10 Notes</p>
                </a>
            </div>
            <div class="grid-subject-card subject-card" style="animation-timeline: scroll();"> 
                <a style="width:100%;" href="youtube.com">
              
                <img src="/static/biology.webp" id="subject-img">
                <p class="subject-text">Biology</p>
                <p class="subject-text notes-count"> 5 Notes</p>
                </a>
            </div>



            <div class="grid-subject-card subject-card" style="animation-timeline: scroll();"> 
                <a style="width:100%;" href="youtube.com">
                               
                <img src="/static/chemistry.webp" id="subject-img">
                <p class="subject-text">Chemistry</p>
                <p class="subject-text notes-count"> 5 Notes</p>
                </a>
            </div>



            <div class="grid-subject-card  subject-card" style="animation-timeline: scroll();"> 
                <a style="width:100%;" href="youtube.com">
                                               
                <img src="/static/english.webp" id="subject-img">
                <p class="subject-text">English</p>
                <p class="subject-text notes-count"> 5 Notes</p>
                </a>
            </div>

        </div>
   




    <hr style="width: 80%; position:absolute; bottom:2vh; left:10%; opacity: 0.6;">


</section>


{% endblock %}