{% extends "layout.html" %}



{% block content %}

<section id="view-all">

    <h1 class="name" id="sharing-notes" style="align-self: flex-start;">All Subjects</h1>
    <div id="all-subjects-container">

    {% for subject in subjects %}
            {% set image_path = subject['image'] %}
            <a style="width:300px; height:500px; position:relative;" href="/subject/{{subject['name']}}">

                <div class="vertical-subject-card" style="background-image: url('{{ image_path }}');">
                    <p class="vertical-subject-card-text">
                        {{subject['name']}} <br>
                        <span id="notes">{{subject['notes_count']}} Notes</span>
                    </p>
                    
                </div>
                </a>
        {% endfor %}
    </div>
    
            
            


   




    <hr style="width: 80%; position:absolute; bottom:2vh; left:10%; opacity: 0.6;">


</section>


{% endblock %}